 <section id="booking-form" class="my-4"  >
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-4">
                <div class="row">
                    <div class="col-12 text-end">
                        <img src="https://cdn-icons-png.flaticon.com/512/2907/2907720.png" alt="Driver Icon" class="driver">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="seat reserved"></div>
                    </div>
                   
                    
                </div>
            </div>
            <div class="col-8">
                
            </div>
        </div> 
      </div> 
</section>