<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bus Booking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Buses <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Offers</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Track Ticket</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Help</a>
      </li>
      @if (loggedUserData) {
        <li class="nav-item ">
          <a class="nav-link text-success">{{loggedUserData.userName}}</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-danger">Logout</a>
        </li>
      } @else {
        <li class="nav-item ">
          <a class="nav-link text-danger" (click)="openModal()">Login/Signup</a>
        </li>
      }
   
     
    </ul>
  </div>
</nav>

<router-outlet />

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <!-- login -->
        @if (isLoginForm ) {
        <form>
        
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="loginEmail" class="form-control" />
            <label class="form-label" for="loginEmail">Email address</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="loginPassword" class="form-control" />
            <label class="form-label" for="loginPassword">Password</label>
          </div>

          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

          <div class="text-center">
            <p>Not a member? <a (click)="isLoginForm = false">Register</a></p>
          </div>
        </form>
        } 
        
        @else {
        <!-- register -->
        <form>
         
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="registerEmail" name="emailId" [(ngModel)]="registerObj.emailId" class="form-control" />
            <label class="form-label" for="registerEmail">Email address</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="registerUserName" name="userName" [(ngModel)]="registerObj.userName" class="form-control" />
            <label class="form-label" for="registerUserName">User Name</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="registerFullName" name="fullName" [(ngModel)]="registerObj.fullName" class="form-control" />
            <label class="form-label" for="registerFullName">Full Name</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="registerPassword" name="password" [(ngModel)]="registerObj.password" class="form-control" />
            <label class="form-label" for="registerPassword">Password</label>
          </div>

          <button type="button" (click)="onRegister()" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Register</button>

          <div class="text-center">
            <p>Already a member? <a (click)="isLoginForm = true">Login</a></p>
          </div>

        </form>
        }

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>